<h1  id="intro">WELCOME TO TUSHUKE HAIR SALON</h1>
<div class="col-md-6" id="client">
  <a href=""><h2 id="clients">Clients</h2></a>
</div>
<div class="col-md-6" id="stylist">
  <a href=""><h2 >Stylists</h2></a>
</div>
