<h1>Stylist</h1>

<div class="col-md-6">
    <p>See Current stylists</p>
    $stylist.getName()
</div>
<div class="col-md-6">
    <a href="/add-stylist">Add a stylist </a>
</div>

<a href="/">Home</a>
